@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

footer {
  margin: 0.5vw;
  width: 98vw;
  background-color: #ec3237;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 15vh;
  flex-wrap: wrap;
}
footer > div {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div > p > a {
  color: white;
  font-family: "Roboto Slab", serif;

  text-decoration: none;
}
footer > div > p {
  margin: 0;
  margin-left: 5px;
  color: white;
  font-family: "Roboto Slab", serif;
}
footer > div > p > a:hover {
  text-decoration: none;
  color: white;
}
@media (max-width: 400px) {
  footer > div > p > a {
    font-size: 0.9rem;
  }
  footer > div > p {
    font-size: 0.9rem;
  }
  footer > div > img {
    width: 40px;
  }
}
