* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 249, 178);
  background: linear-gradient(
    0deg,
    rgba(255, 249, 178, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow-x: hidden;
  max-height: fit-content !important;
  max-height: -moz-fit-content !important;
}
